@page
@model TechnicalInfoWebApp.Pages.UnitPage.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>نوع کمیت فیزیکی</h1>

<p>
    <a class="btn btn-success m-1" asp-page="Create"><i class="fa fa-plus"></i></a>
</p>
<table class="table table-responsive table-striped">
    <thead>
        <tr>
            <th>
                نام واحد
            </th>
            <th>
                نماد واحد
            </th>
            <th>
                توضیحات واحد
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TblUnit) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FldUnitName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FldUnitSimbol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FldUnitDes)
            </td>
            <td>
                <a class="btn btn-warning text-white btn-block" asp-page="./Edit" asp-route-id="@item.FldUnitId"><i class="fa fa-edit"></i></a>
                <a class="btn btn-danger btn-block" asp-page="./Delete" asp-route-id="@item.FldUnitId"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
<a class="btn btn-link" asp-page="../Index">بازگشت</a>
