@page
@model TechnicalInfoWebApp.Pages.ReferenceTechnicalInfoGroupPage.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>مرجع اطلاعات فنی گروه</h1>

<p>
    <a class="btn btn-success m-1" asp-page="Create"><i class="fa fa-plus"></i></a>
</p>
<table class="table table-responsive table-striped">
    <thead>
        <tr>
            <th>
                مقدار
            </th>
            <th>
               مرجع
            </th>
            <th>
               گروه اطلاعات فنی
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TblReferenceTechnicalInfoGroup) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FldReferenceTechnicalInfoGroupReferenceId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FldReference.FldReferenceTxt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FldTechnicalInfoGroup.FldTechnicalInfoGroupTxt)
            </td>
            <td>
                <a class="btn btn-warning text-white btn-block" asp-page="./Edit" asp-route-id="@item.FldReferenceTechnicalInfoGroupId"><i class="fa fa-edit"></i></a>
                <a class="btn btn-danger btn-block" asp-page="./Delete" asp-route-id="@item.FldReferenceTechnicalInfoGroupId"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
<a class="btn btn-link" asp-page="../Index">بازگشت</a>
